// colors

$color1: #ffe14d;
$text: #d7d4cc;
$bg-card: #27272b;
$bg: #1b1b1e;
$black: #000;
$white: #fff;
$overlay: rgba(39, 39, 43, 0.9);

// fonts

@font-face {
  font-family: "comfortaa";
  src: url(../fonts/comfortaa.ttf);
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway.ttf);
}

$heading-font: "comfortaa", "Trebuchet MS", "Lucida Sans Unicode",
  "Lucida Grande", "Lucida Sans", Arial, sans-serif;
$body-font: "raleway", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

// general
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $body-font;
  line-height: 35px;
  user-select: none;

  &::selection {
    background: $color1;
    color: $black;
  }
}

body {
  background: $bg;
  color: $text;
  position: relative;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p,
a,
button {
  font-size: 1rem;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
