#demande-de-devis {
  .form-container {
    padding: 50px;
    display: flex;
    flex-direction: column;

    form {
      width: 100%;
      border-radius: 10px;
      justify-content: start !important;
      align-items: start !important;

      .form-step {
        display: none;
      }
      .form-step.active {
        display: block;
      }

      label {
        width: 100%;
        color: $black;
        display: block;
        padding: 10px 0;
      }

      input,
      select,
      textarea {
        border-radius: 0px;
        background: none;
        transition: 0.2s ease;

        &:hover,
        &:focus,
        &:active {
          outline: none;
        }
      }

      input,
      select {
        width: 100%;
        border-bottom: 1px solid $bg;
        border-top: none;
        border-left: none;
        border-right: none;

        &:hover,
        &:focus,
        &:active {
          border-bottom: 2px solid $black;
        }
      }
      select {
        padding: 10px;
      }

      textarea {
        display: block;
        padding: 0 10px;
        border: 1px solid $bg;
        border-radius: 5px;
        width: 100%;
      }

      .flex-box {
        display: flex;
        justify-content: space-between;
        button {
          margin-top: 50px;
          padding: 5px 20px;
        }
      }
    }
  }
}
